header{
    background-color: rgb(13, 128, 191);
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto;
}
main{
    background-color: black;
    color: white;
}
hr{
    height: 4px;
    background-color: white;
    border: none;
}
#cyber{
    color: rgb(255, 255, 255);
    text-align: center;
}
#titulo{
    text-align: center;
}
.imagem-centralizada {
    display: block;
    margin: 0 auto;
}

